$control-height: 2.438rem;
$control-border-width: 1px;
$control-padding-vertical: calc(0.375rem - #{$control-border-width});
$control-padding-horizontal: calc(1.063rem - #{$control-border-width});

$primary: #44f1a6;
$primary-invert: #000000;
$warning: #FF8F50;
$danger: #F44C6A;

$size-normal: 0.875rem;

@import '~bulma/sass/utilities/_all';

$widescreen-enabled: false;
$fullhd-enabled: false;

$body-family: 'PT Mono', monospace;
$body-background-color: $primary-invert;
$body-color: $white;
$body-min-width: 320px;

$title-size: 2.25rem;
$title-color: $white;
$title-weight: 600;
$title-line-height: 2.5rem;

$subtitle-color: $white;
$subtitle-size: 0.813rem;
$subtitle-line-height: 1.5;
$subtitle-negative-margin: -1rem;

$link: $primary;
$link-hover: darken($primary, 15%);

$navbar-background-color: transparent;
$navbar-item-color: $white;
$navbar-item-hover-color: $primary;
$navbar-item-hover-background-color: transparent;
$navbar-item-active-color: $primary;
$navbar-breakpoint: $tablet;

$modal-background-background-color: rgba(#000, 0.95);
$modal-card-title-color: $primary;
$modal-card-head-background-color: $primary-invert;
$modal-card-head-border-bottom: none;
$modal-card-foot-border-top: none;
$modal-card-body-background-color: $primary-invert;
$modal-card-foot-radius: 0;
$modal-card-head-radius: 0;
$modal-card-body-padding: 0 1.5rem;
$modal-card-head-padding: 1.5rem;

$box-background-color: #1F1F1F;
$box-shadow: none;
$box-color: #fefefe;
$box-padding: 1.5rem;

$footer-background-color: transparent;
$footer-padding: 2rem;

$dropdown-item-color: $white;
$dropdown-content-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px #6B6B6B;
$dropdown-content-background-color: $primary-invert;
$dropdown-item-hover-background-color: #2B2B2B;
$dropdown-item-hover-color: $white;

$dropdown-item-active-background-color: #313131;
$dropdown-item-active-color: $white;

$dropdown-content-padding-bottom: 0;
$dropdown-content-padding-top: 0;

$loading-background-legacy: #000;
$loading-background: rgba(0,0,0,0.95);

$notification-background-color: #1F1F1F;
$notification-radius: 6px;

@import '~bulma/sass/base/_all';
@import '~bulma/sass/helpers/_all';
@import '~bulma/sass/elements/_all';
@import '~bulma/sass/components/_all';
@import '~bulma/sass/form/_all';
@import '~bulma/sass/grid/_all';
@import '~bulma/sass/layout/_all';
@import '~buefy/src/scss/buefy';
