.header {
  padding-top: 20px;
  padding-left: .75rem;
  padding-right: .75rem;

  @include tablet {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  @include desktop {
    > .container {
      .navbar-brand {
        margin-left: 0;

        .navbar-item {
          padding-left: 0;
        }
      }
    }
  }

  .logo {
    height: 40px;
  }

  .navbar-item {
    font-size: 0.875rem
  }
}
